@import 'tailwindcss';

.container {
  display: flex;
  flex-wrap: nowrap;
  height: 100dvh;
}

.panel {
  flex: 0 0 100vw;
  height: 100dvh;
}

.arrow {
  background-image: url('/images/arrowdown.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: black;
}

@keyframes stars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1000px 1000px;
  }
}

.bg-stars {
  background-image: url('https://raw.githubusercontent.com/Klerith/professional-css/main/assets/stars.svg');
  background-size: cover;
  background-repeat: repeat;
  animation: stars 200s linear infinite;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1.2s ease-out both;
}
